@model LHSCampaign.Models.LoginViewModel

@{
    ViewBag.Title = "LHSCampaign - Login";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/Styles/Site/register.css" />
    <title>LHSCampaign - Register</title>
    <script src="~/Content/Scripts/jQuery/jquery-1.10.2.min.js"></script>
</head>
<body>
    <header>
        <a href="~/" style="border: none;"><img src="~/Content/Images/logo.blue.png" alt="lhs|campaign" /></a>
    </header>

    <main>
        <h2>candidate sign up</h2>

        <a href="~/Account/Register" id="sign-up">need an account? sign up</a>

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { id = "val-sum" })

            <label for="username">username</label>
            @Html.TextBoxFor(m => m.UserName, new { id = "username" })
            @Html.ValidationMessageFor(m => m.UserName, "", new { id = "usernm-err" })

            <label for="pass">password</label>
            @Html.PasswordFor(m => m.Password, new { id = "pass" })

            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "err-text", id = "password-err" })

            <div id="remember-container">
                <label>remember me?</label>
                @Html.CheckBoxFor(m => m.RememberMe)
            </div>

            <button id="register">SIGN IN</button>
        }
    </main>
</body>
</html>