@model LHSCamp.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_HeroLayout.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/Styles/Bundles/login.less")
}

<div class="blue row medium-font" style="margin-top:100px;">
    <div class="logo-span large-font"><b>lhs</b>|campaign</div>
    <br/>
    <div id="local-login" style="border-top:2px solid #fff;">
        <br/>
        <span class="large-font railway-bold">login</span>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { style = "list-style-type:none;" })
            <br />

            @Html.TextBoxFor(m => m.UserName, new { @class = "default-input form-group standard-input", placeholder = "username" })
            <br />
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            @Html.PasswordFor(m => m.Password, new { @class = "default-input form-group standard-input", placeholder = "password" })
            <br />
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
            <br />
            <input type="submit" value="log in" class="default-btn blue-btn" style="cursor:pointer;margin-top:10px;" />
            @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
        }
    </div>
    <br/><br/>
    <span class="small-font">Don't have an account? <a href="~/Account/Register" class="blue" style="text-decoration:none;">Sign up.</a></span>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>