@model LHSCamp.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_HeroLayout.cshtml";
}
@section Styles {
    @Styles.Render("~/Content/Styles/Site/Login/register.less")
}
<div class="blue row medium-font" style="margin-top:100px;">
    <div class="logo-span large-font"><b>lhs</b>|campaign</div>
    <br />
    <div id="local-login" style="border-top:2px solid #fff;">
        <br />
        <span class="large-font railway-bold">signup</span>
        <div id="page-1">
            <span class="railway-light" style="margin-top:20px;">This campaign season, which are you?</span>
            <br />
            <button class="default-btn register-link" page="2" style="margin-right:5px;margin-top:20px;">voter</button>
            <button class="default-btn register-link" page="3" style="margin-left:5px;margin-top:20px;">candidate</button>
        </div>
        <div id="page-2" class="register-page" style="display:block;">
            <input type="text" class="default-input standard-input" placeholder="username" />
            <br />
            <input type="password" class="default-input standard-input" placeholder="password" />
            <br />
            <input type="email" class="default-input standard-input" placeholder="email (optional)" />
            <br />
            <button class="default-btn standard-btn year-picker" style="width:165px;">2016</button>
            <button class="default-btn standard-btn year-picker" style="width:165px;">2017</button>
            <script type="text/javascript"></script>
            <br />
            <button class="default-btn standard-btn" style="width:333px;margin-top:20px;">sign up</button>
        </div>
        <div id="page-3" class="register-page">
            CANDIDATE
        </div>
        <script type="text/javascript">
            $(".register-link").click(function () {
                $("#page-" + $(this).attr("page")).fadeIn();
            });
        </script>
        @*@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <span class="large-font">Use a Password</span>
                @Html.ValidationSummary("", new { @class = "text-danger" })

                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                <br />
                @Html.TextBoxFor(m => m.UserName, new { @class = "default-input form-group" })
                <br />

                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <br />
                @Html.TextBoxFor(m => m.Email, new { @class = "default-input form-group" })
                <br />

                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <br />
                @Html.PasswordFor(m => m.Password, new { @class = "default-input form-group" })
                <br />

                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <br />
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "default-input form-group" })
                <br /><br />

                <input type="submit" class="default-btn" style="cursor: pointer;" value="Register" />
            }*@
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>