@model LHSCampaign.Models.CandidatesViewModel
@{
    Layout = null;
    var ASB = true;
}

<!DOCTYPE html>
<html>
<head>
    <title>LHSCampaign</title>
    <link href="~/Content/Styles/Site/footer-shared.css" rel="stylesheet" />
    <link href="~/Content/Styles/Site/home.css" rel="stylesheet" />
    <meta property="og:title" content="LHSCampaign" />
    <meta property="og:image" content="http://lhscampaign.cf/Content/Images/facebook.preview.jpg" />
    <meta property="og:description"
          content="LHS Campaign is a platform for voters to compare candidates and mash together different profile pictures/cover photos with. The display order of candidates is randomized for each viewer. Our goal is to bring you a more convenient and equitable election." />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>
<body>
    <header>
        <img src="~/Content/Images/logo.blue.png" alt="lhs|campaign" id="logo" />

        @if (!ASB)
        {
            <ul id="class-picker" data-selected="@(ViewBag.Year)">
                @for (var i = 2019; i >= 2017; i--)
                {
                    if (Model.GraduationYear == i)
                    {
                        <li class="selected"><a href="/Candidates?classOf=@(i)">@(i)</a></li>
                    }
                    else
                    {
                        <li><a href="/Candidates?classOf=@(i)">@(i)</a></li>
                    }
                }
            </ul>
        }

        <a href="~/Account/LogIn">click here if you're a candidate</a>
    </header>

    <div id="position-tabs">
        @if (ASB)
        {
            <div class="selected" style="padding-right: 20px;">
                idc representative
                <span style="left: -12px;">
                    2 will be elected
                </span>
            </div>
            <div>social manager</div>
        }
        <div>treasurer</div>
        <div>secretary</div>
        <div>
            vice president
            @if (Model.GraduationYear == 2017)
            {
                <span>
                    3 VPs will be elected
                </span>
            }
            @if (Model.GraduationYear == 2018)
            {
                <span>
                    2 VPs will be elected
                </span>
            }
        </div>
        <div>president</div>
    </div>

    <div class="tab-content" data-tab="no-peeps">
        <h1>No one has signed up for this position yet.</h1>
    </div>

    @if (true)
    {
        foreach (var position in Model.Positions)
        {
            <div class="tab-content" data-tab="@position.Name">
                @foreach (var candidate in position.Candidates)
                    {
                    <article class="candidate" data-id="@candidate.Id" data-cover="@(candidate.CoverPhoto ?? "")">
                        <div class="hover-container">
                            <img height="175" src="@(candidate.ProfilePicture)" alt="@(candidate.Name)" />

                            <div class="overlay">
                                <a href="/Candidates/@(candidate.Id)">platform/q&a</a>
                                <a class="add-pic-button">add picture</a>
                            </div>
                        </div>

                        <h1>@candidate.Name</h1>
                    </article>
                }
            </div>
        }
    }

    <footer>
        <div id="selected-people"></div>
        <a href="~/CreatePhoto/Profile">profile picture</a>
        <a href="~/CreatePhoto/Cover">cover photo</a>
    </footer>

    <div id="welcome-popup">
        <h1>Welcome!</h1>

        <p>
            LHS Campaign is a platform for voters to compare candidates and mash together different profile pictures/cover photos with.
        </p>

        <p>
            The display order of candidates is randomized for each viewer. Our goal is to bring you a more convenient and equitable election.
        </p>

        <p>
            Have any questions or concerns? Reach out to us at support@lhscampaign.cf
        </p>

        <div id="class-options">
            @if (ASB)
            {
                <a data-href="/Candidates">Get Started</a>
            }
            else
            {
                <a data-href="/Candidates?classOf=2019">2019</a>
                <a data-href="/Candidates?classOf=2018">2018</a>
                <a data-href="/Candidates?classOf=2017">2017</a>
            }
        </div>

        @*<a id="close-wedge">Let's go!</a>*@
    </div>

    <script src="~/Content/Scripts/jQuery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/matthewsot/wedge/64fac6093b2a954c08d2bfa01e50bbb05e76354d/wedge.min.js"></script>
    <script src="~/Content/Scripts/update-cookies.js"></script>
    <script src="~/Content/Scripts/home.js"></script>
</body>
</html>