@using System.Text.RegularExpressions
@model LHSCampaign.Models.CandidateViewModel
@{
    ViewBag.Description = (Model.Platform ?? "See " + Model.Name + "'s profile on LHSCampaign!");
    ViewBag.Description = ViewBag.Description.Substring(0, Math.Min(ViewBag.Description.Length, 300));
    Layout = null;

    var ASBText = "ASB ";
    if (Model.Position.Contains("idc") || Model.Position.Contains("social manager"))
    {
        ASBText = " ";
    }
    Model.Position = Model.Position.Replace("idc", "IDC");
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@(Model.Name) | LHSCampaign</title>
        <link href="~/Content/Styles/Site/footer-shared.css" rel="stylesheet" />
        <link href="~/Content/Styles/Site/candidate.css" rel="stylesheet" />
        <meta property="og:title" content="@(Model.Name) for @(Model.Position)" />
        <meta property="og:image" content="@(Model.ProfilePicture)" />
        <meta property="og:description"
              content="@(ViewBag.Description)" />
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    </head>
<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=660289007448450&version=v2.3";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <header>
        <a href="~/"><img src="~/Content/Images/logo.blue.png" alt="lhs|campaign" id="logo" /></a>

        <ul id="tabs">
            <li class="selected">PLATFORM</li>
            <li>QUESTIONS</li>
            @*<li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://lhscampaign.cf/Candidates/@(Model.Id)">SHARE</a></li>*@
        </ul>
    </header>

    <main data-id="@(Model.Id)" data-cover="@(Model.CoverPhoto ?? "")">
        <div id="info">
            <h1>@(Model.Name)</h1>
            <h2>for @(Model.GraduationYear)  @(Model.Position)</h2>

            @if (!string.IsNullOrWhiteSpace(Model.ProfilePicture))
            {
                <div class="image-container">
                    <img height="175" id="profile-image" src="@(Model.ProfilePicture)" alt="@(Model.Initials)" />
                    <a href="@(Model.ProfilePicture)" target="_blank" download>DOWNLOAD</a>
                </div>
            }

            @if (!string.IsNullOrWhiteSpace(Model.CoverPhoto))
            {
                <div class="image-container" id="cover-container">
                    <img id="cover-photo" width="175" src="@(Model.CoverPhoto)" alt="@(Model.Initials)" />
                    <a href="@(Model.CoverPhoto)" target="_blank" download>DOWNLOAD</a>
                </div>
            }

            <div class="fb-share-button" data-href="http://lhscampaign.cf/Candidates/@(Model.Id)" data-layout="button"></div>

            @if (!string.IsNullOrWhiteSpace(Model.ProfilePicture))
            {
                <a id="add-pic-button">MASH PICTURE</a>
            }
            @foreach (var externalLink in Model.ExternalLinks)
            {
                <br/>
                <a target="_blank" href="@(externalLink.Link)">@(externalLink.Label)</a>
            }
        </div>

        <div class="selected tab" id="platform">
            <h1>Platform</h1>

            @if (string.IsNullOrWhiteSpace(Model.Platform))
            {
                <p>
                    Sorry, this candidate hasn't uploaded their platform yet.
                    <br /><br />
                    Check out the Questions section to discuss!
                </p>
            }
            else
            {
                var platformLines = Regex.Split(Model.Platform, "(\r\n|\n|\r)").Select(str => str.Trim()).Where(line => !string.IsNullOrWhiteSpace(line));
                foreach (var line in platformLines)
                {
                    <p>
                        @line
                    </p>
                }
            }

            <h1>Q&A</h1>

            <p>
                We built this site to bring you a more organized, convenient, and equitable voting process. Please keep questions productive, on-topic, and civil.
            </p>

            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES * * */
                var disqus_shortname = 'lhscampaign2016';
                var disqus_identifier = "candidateid:@(Model.Id)";

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function () {
                    var dsq = document.createElement('script');
                    dsq.type = 'text/javascript';
                    dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
    </main>

    <footer>
        <div id="selected-people"></div>
        <a href="~/CreatePhoto/Profile">profile picture</a>
        <a href="~/CreatePhoto/Cover">cover photo</a>
    </footer>

    <script src="~/Content/Scripts/jQuery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="~/Content/Scripts/update-cookies.js"></script>
    <script src="~/Content/Scripts/candidate.js"></script>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74831565-1', 'auto');
  ga('send', 'pageview');

    </script>
</body>

</html>
