@using Microsoft.Ajax.Utilities
@model LHSCamp.Models.Candidate
@{
    ViewBag.Description = (Model.Reasons ?? "See " + Model.Name + "'s profile on LHSCampaign!");
    ViewBag.Description = ViewBag.Description.Substring(0, Math.Min(ViewBag.Description.Length, 300));
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@(Model.Name) | LHSCampaign</title>
        <link href="~/Content/Styles/Site/candidate.css" rel="stylesheet"/>
        <meta property="og:title" content="@(Model.Name) on LHSCampaign" />
        <meta property="og:image" content="@(Model.ProfilePic)" />
        <meta property="og:description"
              content="@(ViewBag.Description)" />
    </head>
    <body>
        <div id="fb-root"></div>
        <script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=660289007448450&version=v2.3";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
        <header>
            <a href="~/"><img src="~/Content/Images/logo.blue.png" alt="lhs|campaign" id="logo"/></a>

            <ul id="tabs">
                <li class="selected">PLATFORM</li>
                <li>QUESTIONS</li>
                @*<li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://lhscampaign.cf/Candidates/@(Model.Id)">SHARE</a></li>*@
            </ul>
        </header>

        <main data-id="@(Model.Id)" data-cover="@(Model.CoverPhoto ?? "")">
            <div id="info">
                <h1>@(Model.Name)</h1>
                <h2>@(Model.Owner.Year) @(Model.Position)</h2>

                <img height="175" src="@(Model.ProfilePic)" alt="@(Model.Name)"/>

                @if (!string.IsNullOrWhiteSpace(Model.CoverPhoto))
                {
                    <img id="cover-photo" width="175" src="@(Model.CoverPhoto)" alt="@(Model.Name)" />
                }

                @*<div class="fb-share-button" data-href="http://lhscampaign.cf/Candidates/@(Model.Id)" data-layout="button_count"></div>*@

                <a id="add-pic-button">ADD PROFILE PIC</a>
                @if (!string.IsNullOrWhiteSpace(Model.Facebook))
                {
                    <a href="@(Model.Facebook)">VIEW FB EVENT</a>
                }
                <a href="@(Model.ProfilePic)" target="_blank" download>DOWNLOAD PROFILE PICTURE</a>
                @if (!string.IsNullOrWhiteSpace(Model.CoverPhoto))
                {
                    <a href="@(Model.CoverPhoto)" target="_blank" download>DOWNLOAD COVER PICTURE</a>
                }
            </div>

            <div class="selected tab" id="platform">
                <p>
                    @if (!string.IsNullOrWhiteSpace(Model.Reasons))
                    {
                        @(Model.Reasons)
                    }
                    else
                    {
                        @:Sorry, this candidate hasn't uploaded their platform yet.
                        <br/><br/>
                        @:Click the "Questions" tab to discuss!
                    }
                </p>
            </div>

            <div class="tab" id="questions">
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    if (window.location.href.indexOf("localhost") == -1) {
                        /* * * CONFIGURATION VARIABLES * * */
                        var disqus_shortname = 'lhscampaign';
                        var disqus_identifier = "candidateid:@(Model.Id)";

                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script');
                            dsq.type = 'text/javascript';
                            dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    }
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            </div>
        </main>

        <footer>
            <div id="selected-people"></div>
            <a href="~/CreatePhoto/Profile">profile picture</a>
            <a href="~/CreatePhoto/Cover">cover photo</a>
        </footer>

        <script src="~/Content/Scripts/jQuery/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="~/Content/Scripts/candidate.js"></script>
    </body>
</html>
