<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Content/Images/favicon.ico" />
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/Fonts/Railway/Railway-font.css")
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", false)
    }
    else
    {
    }
    <meta property="og:title" content="LHS|Campaign" />
    <meta property="og:description" content="LHS Campaign allows you to mash together two (or more) campaign photos in a matter of seconds to support multiple candidates." />
    <meta property="og:image" content="http://lhscampaign.ml/Content/Images/Default/laptop.png" />
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", false)
    <script type="text/javascript">
        $(".link").click(function () {
            window.location.href = $(this).attr("href");
        });
    </script>
</body>
</html>
