@model Dictionary<string, List<LHSCamp.Models.Candidate>>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>LHSCampaign</title>
        <link href="~/Content/Styles/Site/home.css" rel="stylesheet"/>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    </head>
    <body>
        <header>
            <img src="~/Content/Images/logo.blue.png" alt="lhs|campaign" id="logo"/>

            <ul id="class-picker" data-selected="@(ViewBag.Year)">
                @for (var i = 2018; i >= 2016; i--)
                {
                    if (ViewBag.Year == i)
                    {
                        <li class="selected"><a href="/Home?class=@(i)">@(i)</a></li>
                    }
                    else
                    {
                        <li><a href="/Home?class=@(i)">@(i)</a></li>
                    }
                }
            </ul>

            @*<a href="~/SignUp">about</a>*@
            <a href="~/Account/Login">candidate sign in</a>
            <a href="~/Account/Register">candidate? sign up</a>
        </header>

        <div id="position-tabs">
            <div class="selected">secretary</div>
            <div>treasurer</div>
            <div>vice president</div>
            <div>president</div>
        </div>

        @foreach (var position in Model)
        {
            <div class="tab-content" data-tab="@position.Key">
                @foreach (var candidate in position.Value)
                {
                    <article class="candidate" data-id="@candidate.Id" data-cover="@(candidate.CoverPhoto ?? "")" data-fb="@(candidate.Facebook ?? "")">
                        <div class="hover-container">
                            <img height="175" src="@(candidate.ProfilePic)" alt="@(candidate.Name)" />

                            <div class="overlay">
                                <a href="/Candidates/@(candidate.Id)">platform info</a>
                                <a class="add-pic-button">(+) add picture</a>
                            </div>
                        </div>

                        <h1>@candidate.Name</h1>
                    </article>
                }
            </div>
        }

        <footer>
            <div id="selected-people"></div>
            <a href="~/CreatePhoto/Profile">profile picture</a>
            <a href="~/CreatePhoto/Cover">cover photo</a>
        </footer>

        <div id="welcome-popup">
            <h1>Welcome!</h1>

            <p>
                LHS Campaign is a centralized platform for voters to compare candidates on. We hope this creates a more equitable election atmosphere.
            </p>
            <p>
                Have any questions or concerns? Reach out to us at lhscampaign@mawteam.com
            </p>

            <div id="class-options">
                <a data-href="/Home?class=2018">2018</a>
                <a data-href="/Home?class=2017">2017</a>
                <a data-href="/Home?class=2016">2016</a>
            </div>

            @*<a id="close-wedge">Let's go!</a>*@
        </div>

        <script src="~/Content/Scripts/jQuery/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/matthewsot/wedge/64fac6093b2a954c08d2bfa01e50bbb05e76354d/wedge.min.js"></script>
        <script src="~/Content/Scripts/home.js"></script>
    </body>
</html>