@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>LHSCampaign</title>
    <link href="~/Content/Styles/Site/setup.css" rel="stylesheet" />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>
<body>
    <header>
        <img src="~/Content/Images/logo.blue.png" alt="lhs|campaign" id="logo" />

        <a href="~/Account/LogOff">log out</a>
        <a target="_blank" href="~/Candidates/@(Model.Id)">view your profile</a>
    </header>
    <div style="position: relative; width: 800px; margin: 0 auto;">
        <h1>Welcome to LHS Campaign!</h1>
        @if (!Model.IsConfirmed)
        {
            <span>
                We'll run through a few quick questions to get your candidate account set up.
                Once you're verified (which may take up to 24 hours),
                you'll be allowed to upload your profile image and be featured on LHS Campaign.
            </span>
        }
        @if (ViewBag.Uploaded)
        {
            <span>
                Image uploaded! Click <a target="_blank" href="~/Candidates/@(Model.Id)">here</a> to view your profile.
            </span>
            <script type="text/javascript">
                window.location.href = "/Candidates/@(Model.Id)";
            </script>
        }
        <br />
        <br />
        <div id="tabs">
            <div class="@(ViewBag.Uploaded ? "" : "selected")">email</div>
            <div>position</div>
            <div>campaign</div>
            <div>social</div>
            @if (ViewBag.Uploaded)
            {
                <div class="selected">picture</div>
            }
            else
            {
                <div>picture</div>
            }
        </div>

        <div class="tab-content" data-tab="email">
            <h2>Your email (voters won't be able to see this).</h2>

            <input type="email" id="email-input" placeholder="email" value="@(Model.Email)" />

            <button id="update-email">Save</button>

            @if (!Model.IsConfirmed)
            {
                @:We'll contact you within 24 hours to confirm your email and give you a rundown of the final step before you're listed as a candidate.
            }
        </div>

        <div class="tab-content" data-tab="position">
            What position are you running for?
            <br />
            <select id="position" class="default-input standard-input" style="margin-top: 20px; width: 333px; height: 50px; padding-right: -50px;">
                @*@foreach (var pos in new string[] { "Secretary", "Treasurer", "Vice President", "President" })*@
                @foreach (var pos in new string[] { "Secretary", "IDC Representative", "Social Manager", "Treasurer", "Vice President", "President" })
                {
                    if (pos.ToLower() == Model.Position.ToLower())
                    {
                        <option selected>@pos</option>
                    }
                    else
                    {
                        <option>@pos</option>
                    }
                }
            </select>
            <button class="default-btn standard-btn" id="save-position">Confirm Position</button>
        </div>

        <div class="tab-content" data-tab="campaign">
            Why should voters vote for you? Please enter your platform below explaining why you're the best candidate.
            <br /><br />
            <!-- Thanks! http://stackoverflow.com/questions/4220381/replace-line-break-characters-with-br-in-asp-net-mvc-razor-view -->
            <textarea id="campaign-reasons" class="small-font default-input standard-input" style="text-align: left; width: 90%; height: 300px; white-space: pre-wrap;">@Model.Platform</textarea>
            <br />
            <button class="default-btn standard-btn" id="save-reasons">Save Reasons</button>
        </div>

        <div class="tab-content" data-tab="social">
            Facebook Link:<br /><br />
            <input type="text" id="campaign-social" class="default-input standard-input" style="width: 400px;" placeholder="http://facebook.com/example..." value="" />
            <br />
            <button class="default-btn standard-btn" id="save-social">Save</button>
            <br />
            If you don't have a Facebook page or event, just click on 'Save' to continue.
            <br/><br/>
            If you have other links (ask.fm, YouTube, Snapchat, etc.) contact <a style="color: #1394ee;text-decoration: none;" href="mailto:vip@lhscampaign.cf">vip@lhscampaign.cf</a> &amp; we'll get them on your profile ASAP :)
        </div>

        <div class="tab-content" data-tab="picture">
            @if (Model.IsConfirmed)
            {
                @:Pictures must be less than 4MB in size and have a .jpg, .png, or .gif extension.
                <br /><br />
                @:If you have any problems, please don't hesitate to contact vip@lhscampaign.cf and we'll make it work.
                <h2 style="margin-bottom: 0;">Profile Picture:</h2>
                <form action="~/Manage/UploadProfile" method="POST" enctype="multipart/form-data">
                    <span>Square image - Required</span>
                    <br />
                    <input type="file" name="file" style="margin-bottom: 5px;" />
                    <br />
                    <input type="submit" value="Upload" class="default-btn standard-btn" />
                </form>
                <h2 style="margin-bottom: 0;">Cover Photo:</h2>
                <form action="~/Manage/UploadCover" method="POST" enctype="multipart/form-data">
                    <span>851x315 px image - Optional</span>
                    <br />
                    <input type="file" name="file" style="margin-bottom: 5px;" />
                    <br />
                    <input type="submit" value="Upload" class="default-btn standard-btn" />
                </form>
            }
            else
            {
                @:Your account must be confirmed before you can upload a photo and be listed as an official candidate.
                <br /><br />
                @:You should get an email from someone on the LHS Campaign team within 24 hours to confirm your account.
                <br /><br />
                @:If you have any problems, feel free to email vip@lhscampaign.cf for personal help.
            }
        </div>
    </div>

    <script src="~/Content/Scripts/jQuery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script type="text/javascript">
        $("body").on("click", "#tabs div", function () {
            $(this).addClass("selected").siblings(".selected").removeClass("selected");
            $(".tab-content").hide();
            $(".tab-content[data-tab=\"" + $(this).text().trim() + "\"]").show();
        });
        $("#tabs div.selected").first().click();

        function cont() {
            $("#tabs div.selected").next().click();
        }

        if ($.cookie("cand-page") == null) {
            $.cookie("cand-page", "email");
        }

        $("#update-email").click(function () {
            var email = $("#email-input").val();
            $.post("/API/Account/SetEmail", {
                "email": email
            }, function (data) {
                if (data == "set") {
                    cont();
                }
            });
        });

        $("#save-position").click(function () {
            var position = $("#position").val().toLowerCase();
            $.post("/API/Account/SetPosition", {
                "position": position
            }, function (data) {
                if (data == "set") {
                    cont();
                }
            });
        });

        $("#save-reasons").click(function () {
            var reasons = $("#campaign-reasons").val();
            $.post("/API/Account/SetReasons", {
                "reasons": reasons
            }, function (data) {
                if (data == "set") {
                    cont();
                }
            });
        });

        $("#save-social").click(function () {
            var fb = $("#campaign-social").val().trim().toLowerCase();
            if (fb == $("#campaign-social").attr("placeholder")) {
                fb = '';
            }
            if (fb != '' && fb.indexOf('http') != 0) {
                fb = 'https://' + fb;
            }
            $("#campaign-social").val(fb);
            $.post("/API/Account/SetSocial", {
                "facebook": fb
            }, function (data) {
                if (data == "set") {
                    cont();
                }
            });
        });
    </script>
</body>
</html>