@using Microsoft.AspNet.Identity;
@{
    if (ViewBag.IsCandidate == null)
    {
        using (LHSCamp.Models.LCDB db = new LHSCamp.Models.LCDB())
        {
            var userId = User.Identity.GetUserId();
            var user = db.Users.Find(userId);
            ViewBag.IsCandidate = user.IsCandidate;
        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Content/Images/favicon.ico" />
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/Fonts/Railway/Railway-font.css")
    @RenderSection("Styles", false)
    <script type="text/javascript" src="~/Content/Scripts/Site/Home/picker.js"></script>
</head>
<body>
    <div id="header">
        <div id="header-cont">
            <a href="~/Home" class="nunderline"><span class="large-font"><b>lhs</b>|campaign</span></a>
            <ul id="header-nav">
                <li>@User.Identity.Name</li>
                <li><a class="nunderline" href="~/Account/Manage">settings</a></li>
                @if (ViewBag.IsCandidate)
                {
                    <li><a class="nunderline" href="~/Welcome/Candidate">campaign settings</a></li>
                }
                <li style="border-right:0px;"><a class="nunderline" href="~/Account/LogOff">logout</a></li>
            </ul>
        </div>
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <div id="footer">
        <div id="footer-cont">
            @RenderSection("Footer", false)
        </div>
    </div>
    @RenderSection("Scripts", false)
    <script type="text/javascript">
        $(".link").click(function () {
            window.location.href = $(this).attr("href");
        });
    </script>
</body>
</html>
