<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/Fonts/Quickly/Quickly-font.css")
    @Styles.Render("~/Content/Fonts/Railway/Railway-font.css")
    @*@Styles.Render("~/Content/Styles/Site/shared.less")*@
    @Styles.Render("~/Content/Styles/Site/Hero/hero.less")
    @RenderSection("Styles", false)
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", false)
    <script type="text/javascript">
        $(".link").click(function () {
            window.location.href = $(this).attr("href");
        });
    </script>
</body>
</html>
