<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/Fonts/Quickly/Quickly-font.css")
    @Styles.Render("~/Content/Fonts/Railway/Railway-font.css")
    @*@Styles.Render("~/Content/Styles/Site/shared.less")*@
    @Styles.Render("~/Content/Styles/Site/Layout/header.less")
    @Styles.Render("~/Content/Styles/Site/Layout/footer.less")
    @RenderSection("Styles", false)
</head>
<body>
    <div id="header">
        <span class="large-font"><b>lhs</b>|campaign</span>
        <ul id="header-nav">
            <li>settings</li>
            <li></li>
        </ul>
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <div id="footer">
        test
    </div>
    @RenderSection("Scripts", false)
    <script type="text/javascript">
        $(".link").click(function () {
            window.location.href = $(this).attr("href");
        });
    </script>
</body>
</html>
